<!doctype>
<html>
    <head>
        <title>
          Venom Auth API
        </title>
    </head>
    <body>
        <h1><center>Venom Authentication API Service </center></h1>
        <form action="/getApiKey" method="GET">
            Enter Application Name:
            <input type="text" name="app_name" required>
            <input type="submit" value="Get Api Key">
        </form>
    </body>
</html>